* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1.2rem;
}

.main {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.main__container {
  border-radius: 15px;
  background-color: #fff;
  padding: 20px;
}

.main__header {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 20px 0;
}
.fa-list-alt {
  font-size: 1.5rem
}
.form__input {
  border: none;
  padding: 10px;
  border: 1px solid #eee;
  outline: none;
  width: 70%;
}

.form__input::placeholder {
  padding: 0px;
}

.form__btn {
  width: 100px;
  padding: 10px 15px;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.cards__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: 60vh;
  height: 60vh;
}

.card {
  width: 90%;
  padding: 15px;
  box-shadow: 2px 4px 4px 4px rgba(71, 71, 71, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0px;
  position: relative;
}

.task {
  padding: 10px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: rgba(62, 161, 219, 1);
}

.completeIcon {
  color: rgba(62, 161, 219, 1);
}

.trashIcon:hover {
  color: #f00;
}

@media screen and (max-width: 700px) {
}
